<header>
    <h1>Tasks</h1>
    <button ng-click="vm.logout()">Logout</button>
</header>
<main>
    <form>
        <div>
            <label for="name">Task Name</label>
            <input type="text" name="name" ng-model="vm.newTask.name">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" ng-model="vm.newTask.description">
        </div>

        <button ng-click="vm.addTask()">Añadir</button>
    </form>
    <div>
        <ul>
            <li ng-repeat="task in vm.tasks">
                <p ng-bind="task.name"></p>
                <p ng-bind="task.description"></p>
                <div>
                    <label for="task-done">Hecha</label>
                    <input type="checkbox" name="task-done" ng-model="task.done">
                </div>
            </li>
        </ul>
    </div>
    
</main>