<header>
    <h1>Tasks</h1>
</header>
<main>
    <form>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" ng-model="vm.user.username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" ng-model="vm.user.pass">
        </div>

        <button ng-click="vm.login()">Aceptar</button>
    </form>
    <button ng-click="vm.backLogin()">Volver a Login</button>
</main>