:root{
    --red: rgba(221, 4, 38, 1);
    --blue: rgba(8, 72, 135, 1);
    --light-green: rgba(198, 235, 190, 1);
    --dark-green: rgba(32, 191, 85, 1);
    --white: rgba(255, 255, 252, 1);
}

.logo a{
    background: url("../images/logos/angular-js.svg") no-repeat 0 0;
    background-size: 45px;
}

.bg-blue{
    background-color: var(--blue);
}

